

@include breakpoint(medium) {
	header{
		.menu-top{
			font-size:16px;

			li{
				 margin:0 30px 0 0;
			}
		}
	}

	label{
		min-width:100px; text-align: left; padding:0; margin:0;
	}

	.txt1{
		width:80%;
	}

	.regis-frm {
		h2{
			span{
				display:block;
			}
		}
		form{
			width:100%;
		}
	}


	.vote-zone{
		ul{width:100%;}
		li{
			width:45%; margin:0 5px 30px 5px;
		}
	}

	.lightbox{
		width:95%; margin-left:-45%;
		padding:40px 20px;
	}

}