
@include breakpoint(small) {
	h2{
		font-size:30px; 
	}

	header{
		.menu-top{
			
			li{
				width:100%; margin:0;

				a{
					padding:10px; 
				}
			}
		}
	}

	label{width:100%; display: block;}

	.txt{clear: both; float: left; width:100%; display: block;}

	.ka-tab{
		a{
			width:100%;
		}
	}



}