.btn{
	@include transition(200ms);
	background:none; min-width:200px;
	text-align: center; cursor: pointer;
}

.btn1{
	border:2px solid $themecolor;
	padding:7px 20px; color:$themecolor;
	font: 600 26px/1.4 'Kanit';
	@extend .btn;
	
	

	&:hover{
		background:$themecolor; color:#fff;
	}
}
