

    nav{
        background:$themecolor; width:fit-content;
        margin:0 auto; padding:10px 10px 10px 30px;
        border-radius: 35px 0px 0 35px;
        font-size:1rem; position:fixed;
        top:35%; right:0; border:2px solid $themecolor2;

        a{
            display:block; margin:15px 0;
            color:$themecolor3;

            &:hover{
                color:#fff;
            }
        }
    }
