label{
	float: left; min-width:200px; text-align: right; padding:0 20px 0 0;
	color:$themecolor; font-weight: 500;
	font-size:22px; display: inline-block;
}


.txt{
	line-height:25px;  padding:0 7px; height:45px; 
	background:$themecolor; color:#fff; border:none;  
	font:300 18px 'Kanit'; display: inline-block;
	box-sizing: border-box;
}

.txt1{width:503px;}
.txt2{width:359px;}

.select{
	position: relative; cursor: pointer;

	// &:after{
	// 	content:''; border:10px solid transparent; border-top-color:#fff;
	// 	position: absolute; top:40%; right:10px; z-index: 2;
	// }

	.select-list{
		position: absolute; top:50px; left:0;
		background:$themecolor; padding:30px;
		box-sizing: border-box; width:100%;
		z-index: 3; 
	}
}


.frm{
	p,.p{clear:both; float:left; width:100%; margin: 0 0 20px;}
}
